<center>
<p>Mr(s) {{client.name}} thank you for trusting us to do the repair work !</p><br/>
<table class="order-table">
	<thead>
		<tr>
			<th scope="col" colspan=2>Order Details</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Order ID</th>
			<td><b>{{{orderId}}}</td>
		</tr>
		<tr>
			<th scope="row">Master</th>
			<td><b>{{masterName}}</b>, <a href="mailto:{{masterEmail}}" target="_blank" rel="noreferrer noopener"><i>{{masterEmail}}</i></a></td>
		</tr>
		<tr>
			<th scope="row">City</th>
			<td>{{cityName}}</td>
		</tr>
		<tr>
			<th scope="row">Watch type</th>
			<td>{{watchName}}</td>
		</tr>
		<tr>
			<th scope="row">Start Date</th>
			<td>{{startDate}}</td>
		</tr>
		<tr>
			<th scope="row">End Date</th>
			<td>{{endDate}}</td>
		</tr>
	</tbody>
</table>
</center>